.myBG {
    height: 100vh;
    background: url("../assets/image/bg/4020439.jpg");
    background-size: cover;
}

.intro {
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 4px;
}

.ongoing {
    height: auto;
    background: url("../assets/image/bg/iubg.jpg");
    background-size: cover;
}

.end {
    height: auto;
    background: url("../assets/image/bg/iubg.jpg");
    background-size: cover;
}

.movieWrapper {
    
}

.images {
    height: 500px;
}

.movieImage {
    height: auto;
    background-color: black;
    margin: 3px;
    padding: 1px;
}